<h1>Welcome to the pokemon app</h1>
<i>Please login to the app</i>
<form (ngSubmit)="login()" [formGroup]="loginForm">
    <input type="text" name="username" id="username" required formControlName="username" placeholder="hello" formControlName="username" class="form-control">
    <p>Using username: {{username?.value}}</p>
    <div class="error-notice" *ngIf="username?.invalid && (username?.dirty )">
        <p *ngIf="username?.errors?.['required']">Username is required</p>
    </div>
    <input type="password" name="password" id="password" required formControlName="password" placeholder="world" formControlName="password">
    <div class="error-notice" *ngIf="password?.invalid && (password?.dirty )">
        <p *ngIf="password?.errors?.['required']">Password is required</p>
    </div>
    <input type="submit" value="Login">
</form>
