.card {
    width: 250px;
    height: 150px;
    background-color: #4158D0;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.card-content{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.card-info {
    font-size: 15px;
}

span{
    font-weight: 600;
}